* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --Dark-blue: #013243;
  --Grayish-blue: hsl(218, 9%, 37%);
  --Light-blue: #4f8598;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url(/Assets/Background.png);
  background-size: cover;
  display: grid;
  place-items: center;
}

.container {
  border: 1px solid rgb(151, 143, 143);
  display: flex;
  flex-direction: row;
  border-radius: 0.625rem;
}
.phone {
  padding: 2rem 2rem 0 2rem;
  max-width: 378px;
  background-color: var(--Dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 0.625rem 0 0 0.625rem;
}
P {
  color: var(--Light-blue);
}
h1,
h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
h2 {
  margin-bottom: 1rem;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.phone_img {
  max-width: 100%;
  max-height: 100%;
}
.sing_in {
  padding: 2rem 2rem 0 2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 0 0.625rem 0.625rem 0;
  max-width: 375px;
}
input {
  padding: 1rem;
  margin-bottom: 1rem;
}
.button {
  padding: 1rem;
  background-color: var(--Dark-blue);
  margin-top: 1rem;
  color: var(--white);
  border-radius: 05px;
  border: none;
  width: 80%;
}
#email,
#password {
  width: 80%;
  margin-top: 0.625rem;
}
::placeholder {
  color: var(--Grayish-blue);
}
@media (max-width:900px) {
  .container{
      flex-direction: column;
    }
    .phone {
      border-radius: 0.625rem 0.625rem 0 0 ;}
      .sing_in{
        border-radius: 0 0 0.625rem 0.625rem  ;
      }
    }
