* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --Dark-blue: hsl(218, 44%, 22%);
  --Grayish-blue: hsl(218, 9%, 37%);
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url(/Assets/Background.png);
  background-size: cover;
  display: grid;
  place-items: center;
}

main {

  border: 1px solid rgb(151, 143, 143);
  display: flex;
  border-radius: 0.625rem;
}
.phone {
    padding: 2rem 2rem 0 2rem;

  max-width: 375px;
  background-color: var(--Dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 0.625rem 0 0 0.625rem;
}
h1,h2{
font-size: 2rem;
font-family: "Roboto", sans-serif;

}
h1,p {
  color: rgb(255, 255, 255);
  text-align: center;
}
.phone_img {
  max-width: 100%;
  max-height: 100%;
}
.sing_in {
    padding: 2rem 2rem 0 2rem;

  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius:0 0.625rem  0.625rem 0;
    max-width: 375px;
}
.sing_in{
}